.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip

# Exclude dev dependencies
/vendor/automattic
/vendor/bin
/vendor/dealerdirect
/vendor/fig-r
/vendor/humanmade
/vendor/php-stubs
/vendor/phpcompatibility
/vendor/phpstan
/vendor/squizlabs
/vendor/szepeviktor
/vendor/wp-coding-standards
